In [1]:
import pandas as pd
import os

#returns current working directory
os.getcwd()
#changes working directory
os.chdir("C:\\__backup\\kaggle\\Titanic")

titanic_train = pd.read_csv("train.csv")

#EDA
titanic_train.shape
titanic_train.info()
titanic_train.groupby('Survived').size()
titanic_train.groupby(['Sex','Survived']).size()
titanic_train[titanic_train.Sex=='female'].groupby(['Pclass','Survived']).size()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

Pclass  Survived
1       0            3
        1           91
2       0            6
        1           70
3       0           72
        1           72
dtype: int64

In [2]:

titanic_test = pd.read_csv("test.csv")
titanic_test.shape
titanic_test.info()
titanic_test['Survived'] = 0
titanic_test.loc[titanic_test.Sex == 'female','Survived'] = 1
print(titanic_test[['PassengerId','Survived']])
titanic_test.to_csv("submission.csv", columns=['PassengerId','Survived'], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [4]:
print(titanic_test.loc[titanic_test.Sex == 'male'].groupby(['Pclass', 'Survived']).size())

Pclass  Survived
1       0            57
2       0            63
3       0           146
dtype: int64

In [10]:
print(titanic_train.loc[(titanic_train.Sex=='female') & (titanic_train.Embarked == 'S')].groupby(['Pclass','Survived']).size())

Pclass  Survived
1       0            2
        1           46
2       0            6
        1           61
3       0           55
        1           33
dtype: int64